@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: hsl(235, 18%, 26%)
}

p {
    font-size: 16px;
}

#desktop-signup {
    display: none;
}

figure {
    width: 100%;
}

#mobile-signup {
    width: 100%;
}

.sign-up-info {
    padding: 2rem 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.join {
    margin: 1.5rem 0;
}

.stay-updated ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.stay-updated ul li {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.stay-updated ul li p {
    line-height: 1.5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, button {
    margin-top: 0.5rem;
    display: block;
    padding: 1.2rem;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 0px 1px hsl(231, 7%, 60%);
    border-radius: 10px;
}

input::placeholder {
    color: hsl(231, 7%, 60%);
    font-size: 16px;
}

.form button, .success button {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}

.form button:hover, .success button:hover
.form button:active, .success button:active {
    background-color: hsl(4, 100%, 67%);
}

.success {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.success img {
    height: 50px;
}

.success .dismiss {
    margin-top: 3rem;
}

@media screen and (min-width: 1440px) {
   body {
    display: flex;
    background-color: hsl(234, 29%, 20%);
    align-items: center;
    justify-content: center;
    height: 100vh;
   }

   #signup-page {
    max-width: 62%;
    padding: 2rem;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 31px;
   }

   figure {
    order: 2;
    height: 100%;
    width: 40%;
   }

   #desktop-signup {
    display: inline;
    height: 100%;
   }
   
   #mobile-signup {
    display: none;
   }
   .sign-up-info {
    width: 50%;
   }

   .success {
    background-color: white;
    width: 36%;
    height: 55%;
    border-radius: 41px;
    padding: 2rem;
   }
}